<!DOCTYPE html>
<html>
  <head>
    <title><%= lecture %></title>
    <!-- css 동작 sample -->
    <!-- public/stylesheets/my.css -->
    <link rel="stylesheet" href="/stylesheets/my.css" />
  </head>
  <body>
    <h1 id="user-name"><%= name %></h1>
    <h2 class="univ"><%= university %></h2>
    <p class="test-text">hello world</p>

    <!-- image 동작 sample -->
    <!-- public/images/koreatech.png -->
    <img id="koreatech-image" src="/images/koreatech.png"></img>

    <!-- script 동작 sample -->
    <!-- public/javascripts/my.js -->
    <p id="click-me" onclick="clickMe()">여기 눌러보세요!</p>

    <script src="/javascripts/my.js"></script>
  </body>
</html>
